name: docker build and test
on:
  push:
    branches:
      - Master

jobs:
  login_to_Docker_Hub:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

  build_and_test:
    needs: login_to_Docker_Hub
    runs-on: ubuntu-latest
    steps:
      -
        name: build the Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: nodejs-secure:latest  


